<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/Style.css">
    <link rel="shortcut icon" href="../static/img/grill.png" type="image/x-icon">
    <title>Churrascaria Grill</title>
</head>
<body id="body1">
    
    <header>
        <div>
            <a href="/"> <img src="../static/img/grill.png" alt=""> </a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </header>
    
    <div class="bemvindo">
        <h1 class="titulo">BEM VINDO</h1>
        <p class="texto">
            A Grill serve as mais deliciosas carnes nobres da região,
             pratos diversificados que agrada todos os tipos de paladares. 
             Localizado no bairro Bosque Dos Eucaliptos, com ótimo atendimento, 
             além de oferecer refeições de qualidade o restaurante proporciona aos seus clientes clima familiar e entretenimento aos finais de semana.
        </p>
    </div>
    
   
  
   <div class="conteudo1">
        <div class="box1">
            <h2>Variedade de carnes</h2>
            <img src="../static/img/carne3.jpg" alt="">
        </div>
        <div class="box1">
            <h2>Carne na grelha</h2>
            <img src="../static/img/carne5.jpg" alt="">
        </div>
        <div class="box1">
            <h2>No ponto Ideial</h2>
            <img src="../static/img/carne2.jpg" alt="">
        </div>


   </div>
   
   <div>
    <h1 class="titulo1">Como Chegar?</h1>
    <iframe class="frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.5902068757364!2d-45.89003087363401!3d-23.257994720679733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdb548d5dc3def%3A0xd807bb17d70db535!2sOuro%20Fino!5e0!3m2!1spt-BR!2sbr!4v1639763966274!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy"></iframe>
   </div>
   
   <footer>
       <br>
       <h2>
            &copy; Copyright 2000-2021 Churrascaria Fictícia NÃO EXISTE
       </h2>
   </footer>
    
    
</body>
</html>