<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="shortcut icon" href="../static/img/grill.png" type="image/x-icon">
    <title>Churrascaria Grill</title>
</head>
<body id="body2">
    
    <header>
        <div>
            <a href="/"> <img src="../static/img/grill.png" alt=""> </a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </header>
    
    
    <div class="sobre">
        <h1 class="titulo2">        
            Nascemos de um Sonho
        </h1>
        <p class="texto1">
            A Grill nasceu de um sonho, 
            um sonho de trazer um ambiente agradável e uma comida de qualidade para o extremo 
            leste da cidade de São Paulo. 
            Todos os dias nos dedicamos para que esse sonho continue vivo e sempre crescendo, 
            pois, nossa maior satisfação é ver no olhar de nossos clientes a 
            alegria de conseguir comer bem e se divertir 
            sem precisar se deslocar para o outro lado da cidade.
            Pensando na melhor experiência para os nossos clientes, 
            nós mantemos padrões elevados de qualidade, 
            selecionando sempre produtos de primeira qualidade e treinando continuamente nossos colaboradores 
            para oferecer o melhor atendimento.
            
        </p>
    </div>
    <div class="imagens">
        <div class="image">
            <img src="./static/img/carne 1.jpg" alt="">
            <h3>
                Receitas Originais
            </h3>
            <p>
                Nossas receitas são próprias e pensadas para agradar os paladares mais elevados. 
                Com cortes de carnes nobres de primeira qualidade, 
                todas foram criadas pelo nosso chef de cozinha que tem anos de experiência no preparo de assados.
            </p>
        </div>
        <div class="image">
            <img src="./static/img/carne2.jpg" alt="">
            <h3>
                Carne é a nossa Paixão
            </h3>
            <p>
                Não podemos negar, nós somos apaixonados por carne. 
                Desde o sabor incomparável, textura e maciez, 
                existe algo na carne que nos faz respirar mais fundo. 
                E muito mais do que apaixonados, nós somos especialistas e gostamos de compartilhar isso com o mundo.
            </p>
        </div>
        <div class="image">
            <img src="./static/img/queijo.jpg" alt="">
            <h3>
                Tempero Inconfundível
            </h3>
            <p>
                Muito mais do que apenas assar a carne, 
                o segredo de uma boa Costela Assada começa ainda na maneira como a cortamos. 
                Cada etapa é essencial para o sucesso da receita e talvez uma das mais importantes 
                seja a do tempero e quem já provou sabe: 
            </p>
        </div>

        <div class="image">
            <img src="./static/img/carne4.jpg" alt="">
            <h3>
                Local aconchegante Para familia
            </h3>
            <p>
                
                pratos diversificados que agrada todos os tipos de paladares. 
                Localizado no bairro Bosque Dos Eucaliptos, com ótimo atendimento, 
                além de oferecer refeições de qualidade o restaurante proporciona aos seus clientes clima familiar e entretenimento aos finais de semana.
            </p>
        </div>
    </div>

   <footer>
       <br>
       <h2>
            &copy; Copyright 2000-2021 Churrascaria  Fictícia NÃO EXISTE
       </h2>
   </footer>
    
    
</body>
</html>